{% load filters %}

<div class="list-group-item">
  <div class="list-group-item-heading d-flex">
    <span class="card-title fw-bold">{{ course_section }}</span>
    <div class="ms-auto d-flex">
      {% block course_actions %}{% endblock %}
    </div>
  </div>
  <div class="list-group-item-text">
    <div>{{ course_section.get_section_times|format_time_slots }}</div>
    <div>
      (Co-)Teachers:
      {% for teacher_registration in course_section.course.teacher_registrations.all %}
        {{ teacher_registration.user.first_name }} {{ teacher_registration.user.last_name }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
