{% extends "student/registration_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="card">
        <div class="card-body">
        {% if cart %}
          <h1>Make a Payment</h1>
          <p>Your cart:</p>
          <div class="list-group mb-4">
            {% for purchase_item in cart %}
              <div class="list-group-item d-flex justify-content-between">
                <span>{{ purchase_item.item.item_name }}</span>
                <div>
                  {% if purchase_item.charge_amount != purchase_item.item.price %}
                    <div class="fa-strikethrough">
                      ${{ purchase_item.item.price}}
                    </div>
                  {% endif %}
                  <div>${{ purchase_item.charge_amount }}</div>
                </div>
              </div>
            {% endfor %}
            <div class="list-group-item d-flex fw-bold justify-content-between">
              <span>Total</span><span>${{ total_charge }}</span>
            </div>
          </div>
          {% crispy form %}
        {% else %}
          <p>Your cart is currently empty.</p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
