{% extends "student/registration_base.html" %}
{% load filters %}

{% block content %}
  <h1>Pay Program Fees</h1>
  <p>
    You may skip payment now and pay in person instead.
    You may also request financial aid for eligible items in your cart.

    You will have the opportunity to purchase additional items later and in person, if supplies allow.
  </p>
  {% include 'shared/submit_button.html' with submit_label='Skip and pay in person' submit_value='skip' %}
  <form method="post">
    {% csrf_token %}
    <h3 class="my-4">Required Payments</h3>
    {% for item in required_purchase_items %}
      {% include "student/components/purchase_item.html" with required=True %}
    {% endfor %}
    {% if additional_purchase_items %}
      <h3 class="my-4">Additional Items</h3>
      {% for item in additional_purchase_items %}
        {% include "student/components/purchase_item.html" %}
      {% endfor %}
    {% endif %}
    <div class="d-flex mt-3">
      <button type="submit" class="btn btn-secondary me-2" name="submit" value="financial_aid">Request financial aid</button>
      <button type="submit" class="btn btn-primary" name="submit" value="pay">Pay now</button>
    </div>
  </form>
{% endblock %}
