{% extends 'student/registration_base.html' %}

{% block content %}
   <h1>Add Course</h1>
  {% if registration_to_swap %}
    <p>
      The course you select will permanently replace your existing registration for
      {{ registration_to_swap.course_section }}
    </p>
  {% endif %}
  <p>Course sections with space remaining are listed below.</p>
  <h3>Available Courses</h3>
  {% for course_section in available_courses %}
    {% include 'student/components/available_course_card.html' %}
  {% endfor %}
{% endblock %}
