{% extends "base/student_base.html" %}

{% block title %}Register for {{ program }}{% endblock %}




{% block content %}
  {% if existing_registrations %}
    <p>You are already registered for {{ program }}</p>
    <a href="{% url 'current_registration_stage' pk=existing_registrations.get.id %}">Go to program dashboard</a>
  {% else %}
    <h1>Register for {{ program }}</h1>
    <p>{{ program.description }}</p>
    {% include 'shared/submit_button.html' with submit_label='Register' %}
  {% endif %}
{% endblock %}
