{% extends "base/student_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
  <h1>Student Dashboard</h1>
  <hr/>
  <h2>Active Registrations</h2>
  {% for registration in registrations %}
      <div>{{ registration.program.name }}:
        <a href="{% url "current_registration_stage" pk=registration.id %}">
          {{ registration.get_program_stage.name }}
        </a>
      </div>
  {% empty %}No active registrations. See below for eligible programs.
  {% endfor %}
  <hr/>
  <h2>Eligible Programs</h2>
  {% for program in eligible_programs %}
    <div>
      <p><a class="btn btn-success my-2 px-auto" href="{% url 'create_program_registration' pk=program.id %}">Register for {{ program.name }}</a></p>
      <p>Description: {{ program.description }}</p>
    </div>
  {% empty %}<p>There are no additional programs that you are currently eligible for.</p>
  {% endfor %}
  <hr/>
  <h2>Manage account</h2>
  {% if request.user.student_profile %}
    <p><a class="btn btn-success my-2 px-auto" href="{% url 'update_student_profile' pk=request.user.student_profile.id %}">Update Profile</a></p>
  {% else %}
    <p><a class="btn btn-success my-2 px-auto" href="{% url 'create_student_profile' %}">Create a student profile for this account</a>  This will enable you to complete the registration workflow.</p>
  {% endif %}
{% endblock %}
