Django==3.2.*  # Latest LTS version
django-environ
requests
psycopg2
ujson

django-compressor
django-cors-headers
django-crispy-forms
django-multiform-views
django-rest-framework
django-sass-processor
django-ses
django-storages
djangorestframework
libsass

django-simple-history

sentry-sdk
gunicorn
sentry-sdk
factory-boy

pyqt5
pyqtwebengine

future
pathlib
ruamel-yaml

# Development Convenience
django-extensions
ipython
werkzeug
pip-tools
flake8
isort
pre-commit
yapf
django-debug-toolbar
sphinx

# Security
cryptography==3.3.2  # Lock to 3.3.2 if running into "No module named 'setuptools_rust'" error

# Sphinx
sphinx_rtd_theme
