{% extends 'base_templates/base.html' %}

{% block title %}Financial Aid Approval{% endblock %}

{% block body %}
  <h1>Approve Financial Aid Requests</h1>
  <div class="my-3">
    <a class="btn btn-secondary" href="{% url 'admin_dashboard' %}">Return To Admin Dashboard</a>
  </div>
  <hr>
  <p>
    There are {{ financial_aid_requests_count }} unreviewed financial aid requests for Program {{ program.name }}.
    {% if financial_aid_requests_count > 0 %}Confirm below to approve all.{% endif %}
  </p>
  <div class="d-flex">
  {% if financial_aid_requests_count > 0 %}{% include "shared/submit_button.html" with submit_label="Confirm" %}{% endif %}
  </div>
{% endblock %}
