{% extends "public/components/public_base.html" %}
{% load sass_tags %}

{% block title %}Learn{% endblock %}

{% block body %}
Educational Studies Program: Who we are
The Educational Studies Program (ESP) runs several educational programs designed to instill a love of learning. Programs consist of classes taught by volunteers, most of whom are MIT undergraduates juggling a full course load as well as other extracurriculars.

Teachers decide themselves what they’ll teach, so our class topics go beyond what is usually taught in school. While some classes are very challenging academically, others involve fun activities like arts and crafts, and still others are very silly or have a nerdy twist.

ESP is an officially recognized student group at the Massachusetts Institute of Technology. ESP’s programs — the largest of which serve nearly 3,000 students per year — are almost entirely run by MIT undergraduate volunteers who donate their spare time and effort to make our programs happen. ESP is not affiliated with any MIT department or with the MIT Admissions Office.

We all contribute to ESP because of our love of teaching and learning — and our desire to provide exciting and interesting opportunities for our students to pursue their interests, whatever they may be.

Enroll in an ESP program
ESP offers programs for students in grades 7 through 12. All students must be at least eleven years old to participate. Registration takes place online one to two months before the program.

To join ESP’s announcements mailing list, please make an account on this website. The main email address associated with each account will receive an email when registration for a program opens.

Those who are interested in what ESP has to offer but can’t make the trip to Cambridge might be interested in Learning Unlimited. Inspired by MIT ESP, Learning Unlimited has helped start several similar programs across the country.



{% endblock %}

