{% extends "base/student_base.html" %}
{% load filters %}

{% block title %}{{ program.name }} ({{ program_stage.name }}){% endblock %}

{% block content %}
  <h1>{{ program.name }}: {{ program_stage.name }}</h1>
  <p>
    Please complete the steps below in order to continue your registration for {{ program.name }}.
    Required steps are marked in bold.
  </p>
  <div class="list-group col-md-6">
    {% for step in program_stage_steps %}
      {% if step.display_after_completion or step.id not in completed_steps %}
        <a href="{% url step.step_key registration_id=registration.id step_id=step.id %}" class="list-group-item d-flex{% if step.id in completed_steps and not step.allow_changes_after_completion %} disabled{% endif %}">
          <span {% if step.required_for_stage_completion %}class="fw-bold" {% endif %}>{{ step.get_display_name }}</span>
          {% if step.id in completed_steps %}<div class="ms-auto badge bg-success rounded-pill">Completed</div>{% endif %}
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <br>
  {% if course_registrations %}
    <h2 class="d-flex">
      Registered Courses
      <a class="btn btn-outline-primary ms-auto" href="{% url 'edit_student_courses' registration_id=registration.id %}">
        Add courses
      </a>
    </h2>
    <div class="list-group">
    {% for course_registration in course_registrations %}
      {% include 'student/components/registered_course_card.html' with course_section=course_registration.course_section %}
    {% endfor %}
    </div>
  {% endif %}
{% endblock %}
