{% extends "base_templates/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Classes{% endblock %}

{% block body %}
<h3>Classes</h3>
<h4><a href='{% url "create_class" %}'>Create New Class</a></h4>
<hr />
{% for class in object_list %}
    <h5>{{ class.name }}</h5>
    <p><strong>{{class.start_date}} to {{class.end_date}}</strong></p>
    <br/>
    <p>Created: {{ class.created_on }} - Updated: {{ class.updated_on }}
    <a href = '{% url "update_class" class.id %}'>Update</a> -
    <hr />
{% endfor %}
{% endblock %}
