{% extends "student_base.html" %}

{% block content %}
  <h1>Enter Lottery Preferences</h1>
  <p>
    Classes for this program are assigned via lottery based on students' submitted preferences. There are
    {{ preference_entry_configuration.rounds.all|length }} rounds of preference entry. In each round, you will
    be able to choose classes to mark as preferred. After you complete all rounds, your preferences will be entered into
    the class lottery.
  </p>
  <a href="{% url "preference_entry_round" index=0 registration_id=programregistration.id %}" class="btn btn-primary">
    Begin
  </a>
{% endblock %}
