{% extends "base_templates/base.html" %}

{% load static %}
{% load sass_tags %}
{% load auth %}


{% block title %}Manage Students{% endblock %}

{% block head %}
  <link href="{% sass_src 'styles/manage_students.scss' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/css/autoComplete.min.css">
{% endblock %}

{% block body %}

<h2>Student Check-In</h2>

<!--Make sure the form has the autocomplete function switched off:-->
<form autocomplete="off">
  <div class="autocomplete" style="width:500px;">
    <input id="autoComplete" type="text" name="student" placeholder="Name">
  </div>
</form>

  {% if student_id %}
    <div class="col-lg-6 my-2" id="studentActions">
      <div class="card">
        <div class="card-body">
          {% if program_registration.checked_in %}
            <h4>{{ student.first_name }} {{ student.last_name }} <span class="badge rounded-pill bg-success mx-1 my-2">Is Checked In</span></h4>
          {% else %}
            <h4>{{ student.first_name }} {{ student.last_name }} <span class="badge rounded-pill bg-danger mx-1 my-2">Not Checked In</span></h4>
          {% endif%}
          <form method="post" action="{% url 'student_checkin' pk=program_id student_id=student_id %}">{% csrf_token %}<input class="form-control my-3" type="submit" value="Check In {{ student.first_name }} {{ student.last_name }}" {% if program_registration.checked_in %} disabled {% endif%}></form>
          {% for step in program_stage_steps %}
              <a href="{% url step.step_key registration_id=program_registration.id step_id=step.id %}" class="btn btn-outline-success mx-1 my-1" role="button">{{ step.get_display_name }}</a>
          {% endfor %}
              <a href="{% url 'edit_student_courses' registration_id=program_registration.id %}" class="btn btn-outline-success mx-1 my-1" role="button">View/Edit Course Schedule</a>

          <h5 class="my-4">Purchase History:</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Date</th>
                <th scope="col">Charge</th>
                <th scope="col">Payment Method</th>
              </tr>
            </thead>
            <tbody>
              {% for item,charge_amount,payment_method,date in purchased %}
              <tr>
                <th scope="row">{{item}}</th>
                <td>{{date}}</td>
                <td>{{charge_amount}}</td>
                <td>{{payment_method}}</td>
              </tr>
            {% empty %}
              <tr>
                <th scope="row">No items</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          {% endfor %}
          </table>

          <h6 class="mt-5">Available program items for purchase:</h6>
          {% for item,price in purchasable %}
            <li>{{item}}: {{price}}</li>
          {% empty %}
            <li>No items</li>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}


{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>
  {{ students|json_script:"student-data" }}
  <script>
    const autoCompleteJS = new autoComplete({
            placeHolder: "Search for Students",
            data: {
                src: JSON.parse(document.getElementById('student-data').textContent),
                cache: true,
                keys: ["search_string"],
            },
            resultsList: {
                element: (list, data) => {
                    if (!data.results.length) {
                        // Create "No Results" message element
                        const message = document.createElement("div");
                        // Add class to the created element
                        message.setAttribute("class", "no_result");
                        // Add message text content
                        message.innerHTML = `<span>Found No Results for "${data.query}"</span>`;
                        // Append message element to the results list
                        list.prepend(message);
                    }
                },
                noResults: true,
            },
            resultItem: {
                highlight: true
            },
            events: {
                input: {
                    selection: (event) => {
                        const selection = event.detail.selection.value;
                        autoCompleteJS.input.value = selection.first_name;
                    }
                }
            }
        })
  document.querySelector("#autoComplete").addEventListener("selection", function (event) {
    // "event.detail" carries the autoComplete.js "feedback" object
    let student_id = event.detail.selection.value.id;
    // have to append student_id to end since django url gets rendered before this code is reached,
      // and therefore before student_id is initialized
    location.href = "{% url 'manage_students' program_id %}" + `${student_id}/`
  });
  </script>
{% endblock %}
