{% extends "base_templates/base.html" %}

{% load static %}
{% load sass_tags %}
{% load auth %}


{% block title %}Manage Students{% endblock %}

{% block head %}
  <link href="{% sass_src 'styles/manage_students.scss' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/css/autoComplete.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
<!--Source https://www.w3schools.com/howto/howto_js_autocomplete.asp-->

<h2>Student Check-in</h2>

<p>Search for students:</p>

<!--Make sure the form has the autocomplete function switched off:-->
<form autocomplete="off">
  <div class="autocomplete" style="width:500px;">
    <input id="autoComplete" type="text" name="student" placeholder="Name">
  </div>
</form>

  {% if student_id %}
    <div class="col-lg-6 my-2" id="studentActions">
      <div class="card">
        <div class="card-body">
          <input type="submit" value="Check In {{ student_first_name }} {{ student_last_name }}" action="">
          {% for step in program_stage_steps %}
              <li><a href="{% url step.step_key registration_id=program_registration.id step_id=step.id %}" class="btn btn-outline-success mx-1 my-1" role="button">{{ step.get_display_name }}</a></li>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}


{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>
  {{ students|json_script:"student-data" }}
  <script>
    const autoCompleteJS = new autoComplete({
            placeHolder: "Search for Students",
            data: {
                src: JSON.parse(document.getElementById('student-data').textContent),
                cache: true,
                keys: ["search_string"],
            },
            resultsList: {
                element: (list, data) => {
                    if (!data.results.length) {
                        // Create "No Results" message element
                        const message = document.createElement("div");
                        // Add class to the created element
                        message.setAttribute("class", "no_result");
                        // Add message text content
                        message.innerHTML = `<span>Found No Results for "${data.query}"</span>`;
                        // Append message element to the results list
                        list.prepend(message);
                    }
                },
                noResults: true,
            },
            resultItem: {
                highlight: true
            },
            events: {
                input: {
                    selection: (event) => {
                        const selection = event.detail.selection.value;
                        autoCompleteJS.input.value = selection.first_name;
                    }
                }
            }
        })
  document.querySelector("#autoComplete").addEventListener("selection", function (event) {
    // "event.detail" carries the autoComplete.js "feedback" object
    let student_id = event.detail.selection.value.id;
    // this is hardcoded because the django url template tag gets rendered before this code is
      // reached, so the student_id would be obtained too late
    location.href = '/admin/programs/{{ program_id }}/manage/students/STUDENT_ID/'.replace('STUDENT_ID', student_id)
  });
  </script>
{% endblock %}
