{% extends "base_templates/base.html" %}

{% load static %}
{% load sass_tags %}
{% load auth %}


{% block title %}Manage Teachers{% endblock %}

{% block body %}

  <h2>Teacher Check-in</h2>

  {% for day in timeslot_list %}
    <ul class="list-group">
     {% if day|length > 0 %} <li class="list-group-item"><a href="{% url 'check_in_teachers' program_id day.0.id 'day' %}">Check in teachers with classes starting on {{ day.0.start_datetime.date }}</a></li>{% endif %}
      {% for timeslot in day %}
        <li class="list-group-item"><a href="{% url 'check_in_teachers' program_id timeslot.id 'slot' %}">Check in teachers with classes starting at {{ timeslot.start_datetime }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
