{% extends "base_templates/base.html" %}

{% load static %}
{% load sass_tags %}
{% load auth %}

{% block title %}Dashboard{% endblock %}

{% block head %}
  <link href="{% sass_src 'styles/scheduler.scss' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="my-3">
  <a class="btn btn-secondary" href="{% url 'admin_dashboard' %}">Return To Admin Dashboard</a>
</div>

  {% django_setting "REACT_HOTLOAD" as react_hotload %}
  {% if react_hotload %}
   <iframe
      src="http://localhost:3000?{{ request.GET.urlencode }}"
      style="border: none; height: calc(100vh - 66px); left: 0; position: absolute; width: 100vw;"
    ></iframe>
  {% else %}
    <div style="border: none; height: calc(100vh - 66px); left: 0; position: absolute; width: 100vw;">
      {% include "build/scheduler.html" %}
    </div>
  {% endif %}
{% endblock %}
