
  <div class="card my-3">
    <div class="card-body">
    <h1>Welcome to {{program}}!</h1>
    <h3>Learn Anything!</h3>
    <p>{{program}} classes cover various fields, from “Crime Scene Chemistry” to “The Mathematics of Music” to “Politics for the Modern Era”. Over the course of multiple weeks, you can take a deep dive into whatever interests you, be it algorithms, Irish history, bioengineering or quantum mechanics!</p>
    </div>
  </div>

<h5>Who Can Participate in {{program}}?</h5>

<h5>{{program}} Cost</h5>
<p>The entire program costs $40, regardless of how many classes attended. The program fee is paid after your class lottery results are released and you confirm your enrollment.
  Generous financial aid is available!
</p>

<h5>{{program}} Details</h5>
<p></p>

<h5>{{program}} Registration</h5>
<p></p>



<div class="content-wrapper">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-6 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                <div class="row">
                  <div class="col-lg-9 col-md-8 col-sm-8 col-8">
                      <p>Text in Column 1</p>
                  </div>
                </div>
          </div>
          <div class="col-lg-6 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                <div class="row">
                  <div class="col-lg-9 col-md-8 col-sm-8 col-8">
                      <p>Text in Column 2</p>
                  </div>
                </div>
          </div>
      </div>
  </div>
</div>