{% load static %}
{% load crispy_forms_tags %}
{% load sass_tags %}
{% load auth %}

<!doctype html>
<html lang="en">
  <head>
    <title>MIT ESP | {% block title %}{% endblock %}</title>
    <link href="{% static "images/favicon.ico" %}" rel="icon">
    <link href="{% sass_src 'styles/base.scss' %}" rel="stylesheet">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href={% block home_link %}"/"{% endblock %}>
          <img  width="40px" height="40px" src="{% static 'images/esp_logo.png' %}" alt="MIT ESP Logo">
          MIT ESP
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items" aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-items">
          <div class="navbar-nav gap-1">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="user-menu-dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="bi-person"></span> {{ user }}
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="user-menu-dropdown">
                  {% if request.user|has_permission:PermissionType.teacher_dashboard_view %}
                    <a class="dropdown-item" href="{% url 'teacher_dashboard' %}">Teacher dashboard</a>
                  {% endif %}
                  {% if request.user|has_permission:PermissionType.student_dashboard_view %}
                    <a class="dropdown-item" href="{% url 'student_dashboard' %}">Student dashboard</a>
                  {% endif %}
                  {% if request.user|has_permission:PermissionType.admin_dashboard_view %}
                    <a class="dropdown-item" href="{% url 'admin_dashboard' %}">Admin Dashboard</a>
                  {% endif %}
                  <form method="post" action="{% url "logout" %}" class="nav-item">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Log Out</button>
                  </form>
                </div>
              </li>
            {% else %}
              <li class="nav-item d-grid">
                <a href="{% url 'register_account' %}" class="btn btn-primary navbar-btn">Register</a>
              </li>
              <li class="nav-item d-grid">
                <a href="{% url 'login' %}" class="btn btn-primary navbar-btn">Log in</a>
              </li>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <div class="container my-2">
      {% for message in messages %}
        <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
          {{ message }}
        </div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
  </body>
</html>
