{% load static %}
{% load crispy_forms_tags %}
{% load sass_tags %}

<html>
  <head>
      <title>MIT ESP - {% block title %}{% endblock %}</title>
      <link href="{% sass_src 'styles/base.scss' %}" rel="stylesheet">
      {% block head %}{% endblock %}
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img  width="40px" height="40px" src="{% static 'images/esp_logo.png' %}" alt="MIT ESP Logo">
        MIT ESP
      </a>
    </div>
    {% if user.is_authenticated %}
      <p class="nav-item">Logged in as {{ user }}</p>
      <form method="post" action="{% url "logout" %}" class="nav-item">
        {% csrf_token %}
        <button type="submit" class="btn btn-default">Log Out</button>
      </form>
    {% else %}
       <ul class="nav justify-content-end">
          <li class="nav-item">
            <a href="{% url 'register' %}" class="btn btn-primary navbar-btn">Register</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'login' %}" class="btn btn-primary navbar-btn">Log in</a>
          </li>
       </ul>
    {% endif %}
    </nav>
    {# START_FEATURE bootstrap_messages #}
    <div class="container">
      {% for message in messages %}
        <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        {{ message }}
        </div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
    {# END_FEATRUE bootstrap_messages #}
  </body>
{% block script %}{% endblock %}
</html>
