{% extends "base/teacher_base.html" %}

{% block title %}Confirm Registration{% endblock %}

{% block nav %}
  <div class="my-3">
    <a href="{% url 'teacher_program_dashboard' pk=registration.id %}" class="btn btn-secondary">Return to program dashboard</a>
  </div>
{% endblock %}

{% block content %}
  <h1>Confirm your teaching schedule for {{ registration.program }}</h1>
  <p>Your course schedule is summarized below. Please check for mistakes.</p>
  <div class="mb-3">{% include "teacher/components/teaching_summary.html" %}</div>
  {% include "shared/submit_button.html" with submit_label="Confirm Schedule" %}
{% endblock %}
