{% extends "public/components/public_base.html" %}
{% load sass_tags %}

{% block title %}For Parents{% endblock %}

{% block body %}

While ESP’s main focus is providing unique and exciting opportunities for our students, we recognize they would not be here without the love and support of their parents. We are dedicated to making your child’s experience as fun, beneficial and safe as possible, and we need your help to achieve that.

ESP’s programs are designed to be both enriching and fun—please keep that in mind when helping your student register for programs. We encourage our students to partake in classes with material that interests them, as this results in a better experience for the whole class, as well as the teacher. Students taking classes that are uninteresting to them can be unhappy or even disruptive, so we ask that students choose and register for classes themselves; as a parent, please do not do it for them. Feel free to suggest particular classes to your child, but leave the final decisions up to them.

Please check the links below for more information about our policies and safety measures. As always, if you have any additional questions, please feel free to contact us.

Location Logistics contains information about how to get to MIT for our programs, the limited parking options on campus, safety measures, hotels, and navigating once on campus.

Policies describes our policies on age limits, sitting in on classes, homeschooled students’ grade levels, giving credit for ESP classes, and what we are not.

Splash and Spark have Parents’ Programs. Details on these are updated as the programs approach at the following links: Splash Parents’ Program and Spark Parents’ Program.

If you’d like more tips on what to do while your student attends Splash or Spark, be sure to ask for our “What’s a Parent to do at Splash/Spark” guides at Help Desk!



{% endblock %}

