{% extends "public/components/public_base.html" %}

{% load sass_tags %}

{% block title %}Welcome{% endblock %}

{% block body %}
  <div class="card my-3">
    <div class="card-body">
    <h1>Welcome to MIT Educational Studies Program!</h1>
    <p class="fs-4">

The MIT Educational Studies Program (ESP) hosts events for local middle/high school students and the MIT community. Our mission is to spread the joy of learning and teaching, and we help people share their knowledge, passions, and hobbies with others. Learn anything, teach anything, do anything!

If you are a middle or high school student interested in attending our programs, head to the Learn section.

If you want to teach for one of our programs, head to the Teach section.

If you are an MIT affiliate interested in joining ESP, head to the Join section.

If you’d like to learn more about our organization, what we do, and how we do it, head to the mission and values pages.

You can also connect with us on <a href="https://www.facebook.com/espmit">Facebook</a>, <a href="https://twitter.com/espmit">Twitter</a>, and <a href="https://www.instagram.com/mit_esp/">Instagram</a>.



<div id="editor">
  <p>(example EditableText database saved text (or JSON) populated here. Editor mode is turned on based user admin role)</p>
</div>


{% if user.is_authenticated and user.user_type == UserType.admin %}
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <!-- Initialize Quill editor -->
  <script>
    var quill = new Quill('#editor', {
      theme: 'snow'
    });
  </script>
{% endif %}

    </p>
    </div>
  </div>

{% endblock %}

